/** Extra styles not covered by NES or Bootstrap templates **/

font-family:  { 'Press Start 2P', cursive;   }

.vertical-center {

display: flex;
align-items: center;
}

 /* Balloons  */
 section.message-list {
    display: flex;
    flex-direction: column;
  }
  .message-list > .message {
    display: flex;
    margin-top: 2rem;
  }
  .message-list > .message > .nes-balloon {
    max-width: 550px;
  }
  .message-list > .message i {
    align-self: flex-end;
  }
  .message-list > .message.-left {
    align-self: flex-start;
  }
  .message-list > .message.-right {
    align-self: flex-end;
  }
  .message-list > .message.-left i {
    margin-right: 2rem;
  }
  .message-list > .message.-right i {
    margin-left: 2rem;
  }
  
  .icon-flipped {
      transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
  }